//le directory base/ contient les fichiers qui définissent les fondations de votre site, 
//par exemple la police de caractères et les normes que vous voulez appliquer sur tout votre site, telles que le box-sizing ;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    // 10px div by def of 16px
    font-size: 62.5%;
    width:100%;
    height:100%;
}

body {
    box-sizing: border-box;
    width:100%;
    height:100%;
    
}