.explore__res {
  width: 100%;
  height: auto;
  background-color: $colour-background;

  &__heading {
    padding: 30px 50px 15px 50px;
  }

  &__byline {
    padding: 0 15px 0px 15px;
  }
  &__button {
    @include btn-color;
  }
}

.fonct {
  width: 100%;
  height: auto;

  &__div-but {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    padding: 0 8%;
    margin-bottom: 50px;

    @include laptop-only {
      flex-direction: row;
      height: 80px;
    }

    &__display {
      position: relative;
      padding: 25px 0;
      border-radius: 25px;

      &--active {
        background-color: lighten($colour-primary, 36%);
      }

      @include laptop-only {
        width: 30%;
      }
    }

    &__count {
      position: absolute;
      left: -8px;
      @include numbers;
    }

    &__icon {
      position: absolute;
      left: 30px;
      color: darken($colour-background, 50%);
      font-size: 20px;

      &--active {
        color: $colour-primary;
      }
    }
  }
}

.rest {
  width: 100%;
  height: auto;
  background-color: $colour-background;

  &__prev {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    &__art {
      width: 300px;
      height: 230px;
      background-color: $colour-white;
      @include shadow;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      margin: 10px;

      @include laptop-only {
        width: 900px;
        height: 575px;
      }

      &__pastille {
        position: absolute;
        width: 80px;
        height: 25px;
        background-color: $colour-tertiary;
        color: darken($colour-tertiary, 45%);
        right: 0;
        margin: 10px;
        border-radius: 2px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        justify-content: center;
        display: flex;
        align-items: center;
      }

      &__img {
        @extend %image;

        &--center {
          object-position: 50% 62%;
        }

        @include laptop-only {
          height: 85%;
        }
      }

      &__byline {
        height: 30%;
        width: 100%;
        display: flex;

        @include laptop-only {
          height: 15%;
        }

        &__d {
          padding-left: 10px;
          padding-top: 10px;
          height: 100%;
          width: 100%;
        }

        &__h {
          @extend %heart;
        }
      }
    }
  }
}
