.load{
  display:flex;
  width:100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.5);
  
  justify-content: space-evenly;
  align-items: center;
  animation: loading 2500ms ease-in forwards ;
  
  position: fixed;
  z-index: 100;
  
      


  &__bar{
      background-color: $colour-tertiary;
      height: 200px;
      width: 10%;
      animation: bars 500ms backwards infinite alternate ;
      
      @for $i from 1 through 5 {
          &--#{$i} {
              animation-delay: 100ms * $i;
          }
      }
  }

  
  
}