header {
  width: 100%;
  height: auto;
  text-align: center;
}

.arrow {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 20px;
}
.logo {
  width: 50%;
  margin: 5px 0;
}

main {
  width: 100%;
  height: auto;
}
